<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MakeSomeFoldersFree.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MakeSomeFoldersFree.Properties.Settings>
            <setting name="NodeGuids" serializeAs="String">
                <value>a;b</value>
            </setting>
            <setting name="ProductGuids" serializeAs="String">
                <value>c;d</value>
            </setting>
            <setting name="Prodis2bToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Prodis2bUri" serializeAs="String">
                <value />
            </setting>
            <setting name="CatalogCode" serializeAs="String">
                <value>TVOD</value>
            </setting>
        </MakeSomeFoldersFree.Properties.Settings>
    </applicationSettings>
</configuration>